<div class="container">
  <h1>Details about "<%= @car.brand%>"</h1>
  <div class="card">
      <h3><%= @car.brand%></h3>
      <h3><%= @car.model%></h3>
      <h4><%= @car.year%></h4>
      <h4><%= @car.fuel%></h4>
      <h5><%= @car.owner.nickname%></h5>
  </div>
</div>
